<div *ngIf="book">
    <mat-card>
        <h2>Update dein Buch</h2>
        <form (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column">
            <mat-form-field>
                <input matInput type="text" name="name" ngModel [(ngModel)]="book.name" required placeholder="Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" name="isbn" ngModel [(ngModel)]="book.isbn" #isbn="ngModel" required placeholder="ISBN">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </form>
    </mat-card>
</div>