<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-between center">
    <span>
        <a routerLink="/">Bookstore</a>
    </span>
    <ul>
        <!-- <li>
            <a routerLink="/books" routerLinkActive="active">Bücher</a>
        </li>
        <li>
            <a routerLink="/authors" routerLinkActive="active">Authoren</a>
        </li> -->
        <li>
            <a routerLink="/books/create" routerLinkActive="active">neues Buch</a>
        </li>
        <li>
            <a routerLink="/authors/create" routerLinkActive="active">neuer Author</a>
        </li>
    </ul> 
</mat-toolbar>